extends loyout_login

block content
   body    
    .sidenav
        .login-main-text
            h2| Upss!! Olvidaste la clave 
            br
            p  Relax recuperala facilmente solo ingres la informacion requerida!!!
            p  Por favor, ingrese su email y le enviaremos a esa cuenta las instrucciones de reseteo de password             
    .main
        .col-md-6.col-sm-12
         .login-form
            .main-div
               .panel
                  if info && info.message 
                     div.alert.alert-danger
                        = info.message
            form#Login(action='/forgotPassword', method='POST')
               .form-group
                     label Email
                     input#email.form-control(type='email' placeholder='Email Address' name="email")
               br
               br
               input.btn.btn-secondary(type='submit', value='Enviar')     