extends loyout_login

block content
  body    
    .sidenav
        .login-main-text
            h2| Bienvenido a la pagina ingreso
            br
            p  El registro permitira seleccionar tu cicla y utilizarla de manera rapida y facil!!!
    .main
        .col-md-6.col-sm-12
         .login-form
            .main-div
               .panel
                  if info && info.message 
                     div.alert.alert-danger
                        = info.message
            form#Login(action='/login', method='POST')
               .form-group
                     label User Name
                     input#username.form-control(type='email' placeholder='User Name' name="username" )
               .form-group
                     label Password
                     input#password.form-control(type='password' placeholder='Password'  name="password" )                        
               .forgot
                  a(href='/forgotPassword') Olvide contraseña 
               br             
               .row
               .col-md-12
                  a.btn.btn-lg.btn-google.btn-block.text-uppercase.btn-outline(href='/auth/google')
                     img(src='../../images/google-logo.png')
                     |  Signup Using Google
               br
               .row
               .col-md-12
                  a.btn.btn-lg.btn-google.btn-block.text-uppercase.btn-outline(href='/auth/facebook')
                     img(src='../../images/facebook-logo.png'  width="20" height="10")
                     |  Signup Using Facebook


               br
               button.btn.btn-black(type='submit') Login    
               a.btn.btn-info(href='/register' role='button') Registrarse



