extends ../layout

block content   
  a(href='/usuarios') volver

  br
  br
  br

  h1 Nueva Usuario

  br
  br

  form(action='/usuarios/create', method='POST')
    .form-group
        label(for='nombre') Nombre:
        input#nombre.form-control(type='text', name='nombre', value=usuario.nombre class=errors.nombre ? 'is invalid':'')
        if errors.nombre
            small#nombreHelp.text-danger
                =errors.nombre.message
    .form-group
        label(for='mail') Email:
        input#mail.form-control(type='text', name='mail', value=usuario.mail class=errors.mail ? 'is invalid':'')
        if errors.mail
            small#mailHelp.text-danger
                =errors.mail.message
    .form-group
        label(for='pwd') Password:
        input#pwd.form-control(type='password', name='pwd',  class=errors.pwd ? 'is invalid':'')
        if errors.pwd
            small#pwdHelp.text-danger
                =errors.pwd.message
    .form-group
        label(for='confirm_pwd') Confirmar Password:
        input#pwd.form-control(type='password', name='confirm_pwd', class=errors.confirm_pwd ? 'is invalid':'')
        if errors.confirm_pwd
            small#confirm_pwdHelp.text-danger
                =errors.confirm_pwd.message
    br
    br
    input.btn(type='submit', value='Crear usuario')