extends ../layout

block content   
  a(href='/bicicletas') volver

  br
  br
  br

  h1 Nueva Bicicleta

  br
  br

  form(action='create', method='POST')
    label(for='code') ID:
    input#code(type='text' name='code')
    br
    label(for='color') Color:
    input#color(type='text' name='color')
    br
    label(for='modelo') Modelo:
    input#modelo(type='text' name='modelo')
    br
    label(for='lat') Latitud:
    input#lat(type='text' name='lat')
    br
    label(for='lng') Latitud:
    input#lng(type='text' name='lng')
    br
    br
    input.btn(type='submit', value='Guardar')