extends ../layout

block content
  a(href='/') Home
  br
  a(href='/bicicletas/create') Nueva Bicicleta
    

  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col')  code
        th(scope='col')  color
        th(scope='col')  modelo
        th(scope='col')  ubicacion
        th(scope='col')  
        th(scope='col')  
    tbody
    each bici in bicis
      tr
        th(scope='row')
          = bici.id
        td= bici.code
        td= bici.color
        td= bici.modelo
        td= bici.ubicacion
        td
          a(href='/bicicletas/' + bici.id + '/update')  Editar
        td
          form.inline(method="POST" action='/bicicletas/' + bici.id + '/delete')
              input(type='hidden' name='id' value=bici.id)
              button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                  = 'Eliminar'